---
layout: page
title: About Us!
---

<div lang="en">
       <h2 style="text-align:center">Presentation</h2>
       <p>This website was created within the framework of the <i>Digital Publishing with Minimal computing: humanities at a global scale seminar</i> organized by the University of Maryland 
            (United States) and the Universidad del Salvador (Argentina) and directed by Dr. Raffaele Viglianti and Dr. Gimena del Rio Riande, with technical support from Mg. 
            Nidia Hernández and Lic. Romina de León, members of the laboratory of the Centro Argentino de Información Científica y Tecnológica that depends on the Consejo Nacional 
            de Investigaciones Científicas y Técnicas (CAICyT-CONICET) from Argentina.</p>
       
       <p><i>On the way!</i> seeks to host the results of the activities carried out by four English and Spanish-speaking students during the course in order to disseminate their learning 
            process, their achievements and, furthermore, to promote collaborative work in the field of Digital Humanities. The international team intends to carry out a multilingual digital 
            edition of fragments of <i>An Account of a Voyage up the River de la Plata</i> (17th century literary work) by Acarette du Biscay from a critical and humanist perspective using Minimal 
            Computing techniques and open standards such as those of the Text Encoding Initiative (TEI-XML) for the processing and editing of texts.</p>
       
       <h2 style="text-align:center">Team</h2>
       
        <p><a href="/ontheway/claudia_bio/"><b>Claudia Aguilar</b></a> (University of Maryland, United States)  will contribute to the team by helping with brainstorming ideas and with graphic 
            design knowledge which may help for the design of the website.</p>
       
        <p><a href="/ontheway/hopeson_bio/"><b>Hopeson Ehizele</b></a> (University of Maryland, United States) will utilize a background in programming and IT in order to contribute to the team.</p>
       
        <p><a href="/ontheway/federico_bio/"><b>Federico Sardi</b></a> (Universidad de la República, Montevideo, Uruguay) will provide help translating contents between Spanish and English.</p>
       
        <p><a href="/ontheway/gabriela_bio/"><b>Gabriela Striker</b></a> (Universidad de Buenos Aires, Argentina) will contribute with her philological, literary and historical knowledge and with her basic 
            experience in encoding texts in XML-TEI developed in the Argentine project Reis Trobadors (in progress) directed by Dr. Gimena del Rio.</p>
</div>
<a href="/ontheway/_pages/Acerca">Versión en español</a>