---
layout: default
title: Claudia Aguilar
permalink: /claudia_bio
---

<div lang="en">
    <p>This is Claudia's bio</p>
        <li>I study at the University of Maryland</li>

    <p>I speak spanish and english. I was born in Lima-Peru and grew up in Maryland for most of my life</p>
    <p>My major is Studio Art-Graphic Design</p>
</div>
<p>[in spanish]</p>

<div lang="español"> 
    <p>Este es el bio de Claudia</p>
        <li>Yo estudio en la universidad de maryland</li>

    <p>Yo hablo ingles y el español. Yo nací en Lima-Peru y crecí en el estado de Maryland por una gran parte de mi vida</p>
    <p>Mi carrera de estudio es el Diseño Grafico</p>
</div>

<!--redid my bio part, will edit some more/ -->
