---
layout: page
title: Criterios de edición
---

<div>
   
    <p>Nuestra propuesta de edición digital de "Description of Buenos Aires"/"Descripción de Buenos Aires" se basa en los principios reunidos en <i>TEI Simple Print Guidelines</i> (2017).</p>
    <p>Asimismo, ofrecemos versiones modernizadas de lectura, comprensibles para cualquier lector de lengua inglesa y española,  que incluyen la normalización gráfica y fonética de acuerdo con las convenciones lingüísticas actuales, el desarrollo de abreviaturas así como las enmiendas significativas y otras intervenciones editoriales.  Aquí detallamos los criterios específicos: 
        <h3>1. Regularización</h3>
        <p>Marcamos cada item normalizado con el elemento <i>reg</i> y señalamos la forma que se halla en la fuente con la etiqueta <i>orig</i> en los siguientes casos:</p>
        <ul>
            <li>1.1. Uso de mayúsculas</li>
            <p>En ambas versiones empleamos mayúsculas para inicio de oración y nombres propios que señalamos con color naranja y marcamos con la etiqueta <i>name</i> y su atributo <i>type</i>. Además, la versión inglesa mantiene las mayúsculas en nacionalidades como <i>English</i>, <i>Dutch</i>, <i>Portuguese</i>.</p> <!--falta agregar la identificación del color para lugares. Marzo 2021-->
            <li>1.2. En "Description of Buenos Aires":</li>
            <ul>
                <li>1.2.1. Grafema ſ/s</li>
                    <p>Normalizamos las numerosas <i>ſ</i>  (s largas) que encontramos recurrentemente en el texto, por ejemplo, a principio de palabras (<i>ſmall</i>, <i>ſurrounded</i>, <i>ſix</i>, <i>ſingle</i>), en contextos intervocálicos de manera simple o doble (<i>uſually</i>, <i>encloſure</i>, <i>neceſſity</i>, <i>impoſſible</i>) y en sílabas finales (<i>Engliſh</i>, <i>confeſs</i>, <i>paſs</i>).</p>
                <li>1.2.2. Grafema y/i</li>
                    <p>Usamos <i>i</i> en lugar de <i>y</i> solo en diptongos que hallamos en términos españoles como <i>Buenos Ayres</i>.</p>
            </ul>
            <li>1.3. En "Descripción de Buenos Aires":</li>
            <ul>
                <li>1.3.1. Acentuación</li>
                <p>Quitamos y añadimos tildes según las convenciones ortográficas españolas actuales.</p>
                <li>1.3.2. Grafema f/h</li>
                <p>Regularizamos formas arcaicas que comenzaban con <i>f</i> (<i>fierro</i>) y hoy se reconocen con <i>h</i> (<i>hierro</i>).</p>
                <li>1.3.3. Grafema g/j</li>
                <p>Adaptamos el uso de <i>g/j</i> (que antaño era indistinto y que encontramos, por ejemplo, en <i>gefes</i>) al uso ortográfico contemporáneo (<i>jefes</i>).</p>
                <li>1.3.4. Grafema s/x</li>
                <p>Incorporamos el uso de <i>x</i> en lugar de <i>s</i> en: <i>estranjeros</i>, <i>estremos</i>, <i>estremadamente</i>, <i>escelentes</i>, <i>escepcion</i>.</p>
            </ul>
        </ul>
        <p>Destacamos todas las normalizaciones con un subrayado de guiones azules.</p>
        <h3>2. Desarrollo de abreviaturas</h3>
        <p>Indicamos las abreviaturas con el elemento <i>abbr</i> y luego las desarrollamos con el elemento <i>expan</i> para facilitar al lector moderno una clara interpretación del texto. Se pueden visualizar en color gris, por ejemplo,  “1 <i>shilling</i> 6 <i>pence</i>” es la forma desarrollada de la construcción abreviada “1 s. 6 d. English” y  “<i>livers</i>” representa la expansión de la abreviatura “l.” en la versión inglesa.</p>
        <h3>3. Separación de palabras</h3>
        <p>Separamos las palabras de acuerdo con la ortografía actual siempre que se conserve el valor semántico que ofrece la fuente. Por ejemplo, separamos <i>apesar</i> y <i>hacepor</i> en el primer párrafo de la versión española.</p>
        <p>Indicamos las palabras separadas con un subrayado de guiones azules.</p>
        <h3>4. Enmiendas</h3>
        <p>Decidimos corregir solamente aquellos errores que podríamos atribuir al proceso de copia y que comprenden, a nuestro criterio, variantes significativas en relación con el uso semántico contemporáneo. Empleamos <i>sic</i> para marcar el error y <i>corr</i> para la forma enmendada. Por ejemplo, corregimos <i>Riochuelo</i> en ambas versiones y otras palabras como <i>extreamly</i> y <i>frecuentemeate</i>, <i>buluarte</i>, <i>perque</i>, <i>peros</i>, entre otras.</p>
        <p>Destacamos las correcciones con un subrayado doble de color azul oscuro.</p>
        <h3>5. Otras intervenciones editoriales</h3>
        <ul>
            <li>5.1. Errores por omisión</li>
                <p>Empleamos la etiqueta <i>supplied</i> para añadir las letras omitidas, que pueden verse entre corchetes y enfatizadas con negrita en los textos normalizados. En la versión española notamos, por ejemplo, varias ausencias de <i>s</i> a final de pronombres que son necesarias para la concordancia con el sustantivo en número plural: <i>su[s]</i>.</p> 
            <li>5.2. Extranjerismos</li>
                <p>Mediante el elemento <i>foreign</i> indicamos los vocablos en lengua extranjera destacados en la fuente, como <i>livers</i> en el fragmento español, y conservamos su cursiva.</p>
        </ul>
    </p>
</div>
<a href="/ontheway/_pages/Editorialprinciples/">English version</a>