---
layout: tei
title: Description of Buenos Aires
document: Description_English.xml
---
<div>
  <p>Digital edition of the chapter "A Description of Buenos Aires" included in <i>An Account of a Voyage up the River de la Plata</i> by Acarette du Biscay (English version). Printed for Samuel Buckley in 1698, London.</p>
</div>
<div class="cuadro">
  <p style="margin-bottom:0;">
    <note>References:</note><br>
    <em id="ref1">Orange</em>: proper nouns.<br>
    <em id="ref2">Grey</em>: abbreviation expansions.<br>
    <em>Italics</em>: foreign words.<br>
    Square brackets and <em id="ref3">bold</em>: additions.<br>
    <em id="ref4">Underlined text with blue dashes</em>: normalizations.<br>
    <em id="ref5">Double-underlined text in darkblue</em>: corrections.
  </p>
</div>

<div>
  <a href="assets/acarete_en.pdf" download>Download facsimilar edition</a>
</div>