---
layout: tei
title: Descripción de Buenos Aires
document: Descripcion_Espanol.xml
---
<div>
  <p>Edición digital de "Descripción de Buenos Aires", capítulo que integra la <i>Relación de un viaje al Río de la Plata</i> de Acarette du Biscay, versión castellana traducida del inglés por Daniel Maxwell para la <i>Revista de Buenos Aires</i> en 1867 (pp. 17-21).</p>
    <p>Editores digitales: Gabriela Striker y Federico Sardi</p>
</div>
<div class="cuadro">
    <p style="margin-bottom:0;">
      <note>Referencias:</note><br>
      <em id="ref1">Naranja</em>: nombres propios.<br>
      <em id="ref2">Gris</em>: desarrollo de abreviaturas.<br>
      <em>Cursivas</em>: extranjerismos.<br>
      Corchetes y <em id="ref3">negrita</em>: añadidos.<br>
      <em id="ref4">Subrayado con guiones azules</em>: normalizaciones.<br>
      <em id="ref5">Subrayado doble con azul oscuro</em>: correcciones.</p></div>

<div>
  <a href="assets/acarete_es.pdf" download>Descargar edición facsimilar</a>
</div>
<!--El título puede cambiarse por algo más relacionado con el texto?-->