---
layout: default
title: Federico Sardi
permalink: /federico_bio
---

<div lang="en">
    <p> Principal bassoon of the Montevideo Philharmonic.</p>
    <p> Born in Montevideo, Uruguay in 1990.</p>
    <h1>Studies</h1>
    <ol>
        <li>2020-present - Degree in History, Universidad de la República Oriental del Uruguay</li>
        <li>2016-2018 - Master in Music (Bassoon), Mannheim University, Germany.</li>
        <li>2013 - Master in Cultural Management, Córdoba University, Argentina.</li>
        <li>2002-2008 - Degree in Music (Bassoon), Montevideo's Conservatory, Uruguay.</li>
    </ol>
    <h1>Languages</h1>
    <ul>
        <li>Spanish</li>
        <li>English</li>
        <li>Portuguese</li>
        <li>Italian</li>
        <li>German</li>
    </ul>
</div>

<div lang="es">
    <p> Fagot solista de la Orquesta Filarmónica de Montevideo.</p>
    <p> Nacido en Montevideo, Uruguay, en 1990.</p>
    <h1>Studies</h1>
    <ol>
        <li>2020-presente - Licenciatura en Historia, Universidad de la República Oriental del Uruguay</li>
        <li>2016-2018 - Master en Interpretación Musical (Fagot), Escuela de Altos Estudios Musicales de Mannheim, Alemania.</li>
        <li>2013 - Posgrado en Gestión Cultural, Universidad Nacional de Córdoba, Argentina.</li>
        <li>2002-2008 - Estudios de Fagot, Escuela Municipal de Música "Vicente Ascone", Montevideo, Uruguay.</li>
    </ol>
    <h1>Idiomas</h1>
    <ul>
        <li>Español</li>
        <li>Inglés</li>
        <li>Portugués</li>
        <li>Italiano</li>
        <li>Alemán</li>
    </ul>
</div>

<!-- Started example bio 2020-10-07 -->
<!-- Probando realizar cambios 12-3-21-->
<!--ok.Leído 14-3-21-->