---
layout: default
title: Gabriela Striker
permalink: /gabriela_bio
---

<div lang="en">
    <p>Gabriela Striker was born and lives in Buenos Aires, Argentina.</p>
    <p>She has got a Literature degree by the Universidad de Buenos Aires (UBA).</p>
    <p>Since 2015 she has been participating as an associate in the subject Literatura Española I (medieval) in this institution.</p>
    <p>She is currently a doctoral fellow at the University of Buenos Aires. Her thesis is focused on medieval lyric, specially on alterity forms in Galician-Portuguese poems of the thirteenth century.</p>
    <p>Also, she works as an editor of academic texts.</p>

    <h1>Languages</h1>
    <ul>
        <li>Spanish</li>
        <li>English</li>
        <li>German</li>
        <li>Portuguese</li>
    </ul>

    <h1>Research projects</h1>
    <ol>
        <li>(2018-present) UBACyT “Nuevas tecnologías y saberes para el estudio de los textos hispanorromances más antiguos” directed by Leonardo Funes.</li>
        <li>(2019-present) FILOCyT “Reis Trobadors: reconstrucción filológico-musicológica de la lírica medieval románica con herramientas digitales” directed by Gimena del Rio Riande and codirected by Germán Rossi.</li>
        <li>(2016-2018) “Digitalización de fondos bibliográficos del Seminario de Edición y Crítica Textual” directed by Leonardo Funes.</li>
    </ol>
</div>


<div lang="es">
    <h1>Gabriela Striker</h1>

    <p>Gabriela Striker nació y vive en Buenos Aires, Argentina.</p>
    <p>Es Licenciada y Profesora de Enseñanza Media y Superior en Letras por la Universidad de Buenos Aires (UBA).</p>
    <p>Desde 2015 ha estado participando como adscripta en la cátedra de Literatura Española I (medieval) en esta institución.</p>
    <p>Actualmente es becaria doctoral de la UBA. Su tesis se enfoca en la lírica medieval, especialmente en las formas discursivas de alteridad en cantigas gallego-portuguesas del siglo XIII.</p>
    <p>Además, se desempeña como editora y correctora de textos académicos.</p>

    <h1>Idiomas</h1>
    <ul>
        <li>Español</li> 
        <li>Inglés</li>
        <li>Alemán</li>
        <li>Portugués</li>
    </ul>
    
    <h1>Proyectos de investigación</h1>
    <ol>
        <li>(2018-presente) UBACyT “Nuevas tecnologías y saberes para el estudio de los textos hispanorromances más antiguos” dirigido por Leonardo Funes.</li>
        <li>(2019-presente) FILOCyT “Reis Trobadors: reconstrucción filológico-musicológica de la lírica medieval románica con herramientas digitales” dirigido por Gimena del Rio Riande y codirigido por Germán Rossi.</li>
        <li>(2016-2018) “Digitalización de fondos bibliográficos del Seminario de Edición y Crítica Textual” dirigido por Leonardo Funes.</li>
    </ol>
</div>

<!--Es una mini biografía, en desarrollo-->