---
layout: default
title: Hopeson Ehizele
permalink: /hopeson_bio
---

<div><head>Welcome To My Bio Page! </head>
    <p>
        My name is Hopeson Ehizele and I am a junior computer science major at the University of Maryland College Park! 
    </p>
</div>