---
layout: default
permalink: /
---
<div lang="en">
  <h1>Welcome to <i>On the way!</i></h1>
  <p style="text-align: justify"><i> On the way!</i> hosts the results of the activities carried out by four English and Spanish-speaking students during the <i>Digital Publishing with Minimal computing: humanities at a global scale</i> seminar directed by Dr. Raffaele Viglianti and Dr. Gimena del Rio Riande.</p>
  <p style="text-align: justify">The main goal of this international team is to develop and publish a bilingual digital edition of a fragment of <i>An Account of a Voyage up the River de la Plata</i> (17th century) by Acarette du Biscay from a critical and humanistic perspective using Minimal Computing techniques and open standards such as those of the Text Encoding Initiative (TEI-XML) for the processing and editing of texts.</p>
</div>

<div class="portadas">
  <a href="/ontheway/_pages/example1_Description/"><img src="assets/portada1.JPG" alt="Portada 1" width="175px"></a>
  <a href="/ontheway/_pages/example1_Description/">English edition</a>
</div>
<!-- El texto que aparece después de alt se puede cambiar por lo que parezca más apropiado para describir a cada imagen-->

<div lang="es">
  <h1>¡Bienvenidos a <i>On the way!</i></h1>
  <p style="text-align: justify"><i> On the way!</i> aloja los resultados de las actividades que realizan cuatro estudiantes de habla inglesa y española durante el seminario <i>Digital Publishing with Minimal computing: humanities at a global scale</i> dirigido por el Dr. Raffaele Viglianti y la Dra. Gimena del Rio Riande.</p> 
  <p style="text-align: justify">El principal objetivo de este equipo internacional es desarrollar y publicar una edición digital bilingüe de un fragmento de <i>Relación de un viaje al Río de la Plata</i> de Acarette du Biscay (siglo XVII) desde una perspectiva crítica y humanista empleando las técnicas de la computación mínima (Minimal Computing) y estándares abiertos como los de la Text Encoding Initiative (TEI-XML) para el tratamiento y la edición de textos.</p>
</div>

<div class="portadas">
  <a href="/ontheway/_pages/example2_Descripcion/"><img src="assets/portada2.JPG" alt="Portada 2" width="175px"></a>
  <a href="/ontheway/_pages/example2_Descripcion/">Edición en español</a>
</div>
<!-- El texto que aparece después de alt se puede cambiar por lo que parezca más apropiado para describir a cada imagen-->