---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* Fonts */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: sans-serif;
$regular-font-size: 1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */


/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: #1a1a1a;
$heading-color: #057f8f;
$link-color: #7a0000;

@import "ed";
@import "syntax";
@import "CETEIcean.css";

.home {text-align: justify;}

tei-choice tei-abbr + tei-expan:before,
tei-choice tei-expan + tei-abbr:before,
tei-choice tei-sic + tei-corr:before,
tei-choice tei-corr + tei-sic:before,
tei-choice tei-orig + tei-reg:before,
tei-choice tei-reg + tei-orig:before {
  content: "";
}
tei-choice tei-abbr + tei-expan:after,
tei-choice tei-expan + tei-abbr:after,
tei-choice tei-sic + tei-corr:after,
tei-choice tei-corr + tei-sic:after,
tei-choice tei-orig + tei-reg:after,
tei-choice tei-reg + tei-orig:after {
  content: "";
}

tei-supplied:before {
  content: "[";
}

tei-supplied:after {
  content: "]";
}

tei-p {
  text-indent: 20px;
}

p {
  text-align: justify
}

tei-abbr {
  display: none;
}

tei-expan {
  color: grey
}

tei-expan {
  color: rgb(114, 112, 112); font-style: italic bold;
}

tei-foreign {
  font-style: italic;
}

tei-sic {
  display: none;
}

tei-orig {
  display: none;
}

tei-div > tei-head {
  color: #057f8f;
  text-indent: 0em;
}

tei-name {color: rgb(248, 121, 74)}

tei-fw {
  display: none;
}

b {color: purple}

tei-corr {
  text-underline-position: below;
}
tei-corr {
  text-decoration-line: underline; text-decoration-style: solid; text-decoration-color: darkblue;
}
tei-corr {
  text-decoration-line: underline; text-decoration-style:double; text-decoration-color: darkblue;
}
tei-reg {text-decoration-line: underline;text-decoration-style: dashed; text-decoration-color:rgb(114, 7, 214);}

tei-supplied {font-weight:bold;}

note {background-color:rgb(255, 208, 215)}

.cuadro {
  border-style: solid;
  border-width: thin;
  border-color: #057f8f;
  margin-bottom: 10px;
  padding-bottom: 0px;
  padding-top: 5px;
  padding-left: 5px;
}

#ref1 {
  font-style: normal;
  color: rgb(248, 121, 74)
}

#ref2 {
  font-style: normal;
  color: rgb(114, 112, 112)
}

#ref3 {
  font-style: normal;
  font-weight: bold;
}

#ref4 {
  font-style: normal;
  text-decoration-line: underline;
  text-decoration-style: dashed; 
  text-decoration-color:rgb(114, 7, 214);
}

#ref5 {
  font-style: normal;
  text-decoration-line: underline; 
  text-decoration-style: solid; 
  text-decoration-style:double;
  text-decoration-color: darkblue;
}

.portadas {
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 50%;
  height: 100%;
}